<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
        backupGlobals="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="vendor/autoload.php"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        failOnRisky="true"
        failOnWarning="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false">
    <coverage/>
    <testsuites>
        <testsuite name="JSON:API Server Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
